<% provide(:title, "Home") %>

<h1>Home</h1>
<p>
  This is the homepage of Ruby On Rails Tutorial
  <br>
  <a href="http://www.railstutorial.org/#help">Learn More</a> about ruby on rails
  <br>
  <a href="http://www.railstutorial.org/book"></a>
</p>